# spacy>=2.0.10,<2.1.0
# sense2vec>=1.0.0a0,<1.1.0
# hug==2.4.8
# hug-middleware-cors>=1.0.0,<2.0.0
# waitress>=1.0.2,<2.0.0


# # Requires offline installation of:
# # en-core-web-lg             3.7.1
# # en-core-web-sm             3.7.1
# # en-core-web-trf            3.7.3

hug>=2.6.1,<2.7.0
hug-middleware-cors>=1.0.0,<2.0.0
sense2vec>=2.0.2,<2.1.0
spacy>=3.7.4,<3.8.0
waitress>=3.0.0,<4.0.0
